<footer id="footer">
      <p>Produção técnica do Mestrado Profissional em Tecnologia, Gestão e Sustentabilidade - IFG.</p>
      <div class="social-links">
        <a href="https://ifg.edu.br/" title="Site do IFG"><img src="{{url_for('static', filename='img/icone_ifg.png')}}"></a>
          <a href="https://teclimpa.ifg.edu.br"  title="Site do MPTGS"><i class="fa-solid fa-hand-holding-droplet"></i></a>
        <a href="https://www.facebook.com/ppgtgs" class="facebook" title="Perfil no Facebook do MPTGS"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/teclimpa/" class="instagram" title="Perfil no Instagram do MPTGS"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/company/ppgtgs/" class="linkedin" title="Perfil no LinkedIn do MPTGS"><i class="bx bxl-linkedin"></i></a>
      </div>
  </footer><!-- End Footer -->