{% extends 'base.html' %}
{% set active_page = "viability" %}

{% block content %}
<section id="hero" class="services">
    <div class="container">
        <div class="form_wrapper">
            <div class="form_container">
                <div class="title_container">
                    <h2>Dados para a análise de viabilidade</h2>
                </div>
                <div class="row clearfix">
                    <div class="">
                        <form method="POST">
                            <div class="input_field">
                                <h3>Dados dos eletropostos</h3>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fas fa-gas-pump"></i></span>
                                        <input type="number" name="num_eletropostos" min="1" step="1"
                                               placeholder="Número de eletropostos - Padrão: 4"/>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-bolt"></i></span>
                                        <input type="number" min="0" name="pot_eletroposto" step=".1"
                                               placeholder="Potência do eletroposto (kW) - Padrão: 22 kW"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true" class="fa-solid fa-clock"></i></span>
                                        <input type="number" min="0" max="24" name="recarga_dia" step="1"
                                               placeholder="Recarga (h/dia) - Padrão: 6 h"/>
                                    </div>
                                </div>
                            </div>
                            <div class="input_field">
                                <h3>Dados do sistema fotovoltaico</h3>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-solar-panel"></i></span>
                                        <input type="number" name="pot_fv" min="0" step=".1"
                                               placeholder="Potência do sistema fotovoltaico (kW) - Padrão: 125 kW"/>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true" class="fa-solid fa-clock"></i></span>
                                        <input type="number" min="0" name="h_inc" step=".01"
                                               placeholder="Horas de irradiação solar média por dia - Padrão: 5.45"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-chart-simple"></i></span>
                                        <input type="number" name="pr" min="0" max="1" step=".01"
                                               placeholder="Performance ratio - Padrão: 0.80"/>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-arrow-turn-down"></i></span>
                                        <input type="number" min="0" step=".001" name="perda_eficiencia_anual"
                                               placeholder="Perda de eficiência anual do sistema (decimal) - Padrão: 0.016"/>
                                    </div>
                                </div>
                            </div>
                            <div class="input_field">
                                <h3>Dados econômicos</h3>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-dollar-sign"></i></span>
                                        <input type="number" name="preco_eletroposto" min="0" step="1000"
                                               placeholder="Preço de cada eletroposto (R$) - Padrão: R$ 120.000,00"/>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-dollar-sign"></i></span>
                                        <input type="number" min="0" step="100" name="preco_fv"
                                               placeholder="Preço do sistema fotovoltaico (R$/kWp) - Padrão: R$ 5.000,00"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-dollar-sign"></i></span>
                                        <input type="number" name="implantacao" min="0" step="1000"
                                               placeholder="Outros custos de implantação (R$) - Padrão: R$ 30.000,00"/>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-dollar-sign"></i></span>
                                        <input type="number" min="0" step="100" name="o_e_m"
                                               placeholder="Valor da operação por eletroposto (R$/ano) - Padrão: R$ 10.000,00"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-dollar-sign"></i></span>
                                        <input type="number" name="valor_recarga" min="0" step=".01"
                                               placeholder="Valor da recarga (R$/kWh) - Padrão: R$ 2,00"/>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-dollar-sign"></i></span>
                                        <input type="number" min="0" step=".01" name="tarifa_energia"
                                               placeholder="Valor da tarifa de energia com impostos (R$/kWh) - Padrão: R$ 0,90"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-landmark"></i></span>
                                        <input type="number" name="tma" min="0" step=".01"
                                               placeholder="Taxa Mínima de Atratividade - Padrão: 0.1"/>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true" class="fa-solid fa-house"></i></span>
                                        <input type="number" min="0" step="100" name="aluguel_mes"
                                               placeholder="Aluguel (R$/mês) - Padrão: R$ 3.000,00"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-timeline"></i></span>
                                        <input type="number" name="vida_util" min="1" step="1"
                                               placeholder="Vida útil financeira do fluxo de caixa (anos) - Padrão: 10 anos"/>
                                    </div>
                                </div>
                            </div>
                            <div class="input_field">
                                <h3>Dados de financiamento</h3>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-percent"></i></span>
                                        <input type="number" name="perc_finan" min="0" max="100" step="1"
                                               placeholder="Percentual a ser financiado de 0 a 100 (%)" required/>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-calendar-days"></i></span>
                                        <input type="number" min="0" step="1" name="numero_prestacoes"
                                               placeholder="Número total de prestações (meses)" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col_half">
                                    <div class="input_field"><span><i aria-hidden="true"
                                                                      class="fa-solid fa-money-bill-trend-up"></i></span>
                                        <input type="number" name="taxa_juros_anual" min="0" step=".01"
                                               placeholder="Taxa de juros anual (decimal)" required/>
                                    </div>
                                </div>
                                <div class="col_half">
                                    Tipo de financiamento:
                                    <div class="input_field radio_option">
                                        <input type="radio" name="tipo_financiamento" id="price" value="price" required >
                                        <label for="price">price</label>
                                        <input type="radio" name="tipo_financiamento" id="sac" value="sac" required >
                                        <label for="sac">sac</label>
                                    </div>
                                </div>
                            </div>
                            <div class="input_field">
                                <h3>Tipo de análise</h3>
                            </div>

                            <div class="input_field select_option">
                                <select name="opcao_selecionada">
                                    <option value="1">Sem análise de sensibilidade</option>
                                    <option value="2">Análise de sensibilidade do valor da recarga</option>
                                    <option value="3">Análise de sensibilidade da recarga por dia</option>
                                    <option value="4">Análise de sensibilidade da potência do sistema fotovoltaico</option>
                                </select>
                                <div class="select_arrow"></div>
                            </div>
                            <input class="button" type="submit" value="Enviar"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}